<app-error-message [problem]="problem"></app-error-message>

<div class="ion-margin">
  <ion-label><small>* Campos obrigatórios</small></ion-label>
</div>

<div class="ion-text-center container">
  <ion-list lines="none">
    <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
      <ion-label position="stacked">Nome *</ion-label>
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-input type="text" placeholder="Por exemplo: Faxina" [(ngModel)]="job.name"></ion-input>
    </ion-item>

    <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
      <ion-label position="stacked">Categoria *</ion-label>
      <ion-icon slot="start" name="layers-outline"></ion-icon>
      <ion-select interface="popover" [(ngModel)]="job.category" placeholder="Selecione uma..."
        [compareWith]="compareCategories">
        <ion-select-option [value]="cat" *ngFor="let cat of categories">{{cat.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button color="primary" shape="round" fill="outline" (click)="onSave()">
      <ion-icon slot="start" name="checkmark"></ion-icon>
      Salvar
    </ion-button>
  </ion-list>
</div>