<ion-header class="ion-no-border">
  <app-toolbar-form-data title="Formulário" (save)="onSave()"></app-toolbar-form-data>
</ion-header>

<ion-content>
  <app-error-message [problem]="problem"></app-error-message>

  <div class="ion-margin">
    <ion-label><small>* Campos obrigatórios</small></ion-label>
  </div>

  <div class="ion-text-center container">
    <ion-item-divider>
      <ion-label>Dados pessoais</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Nome *</ion-label>
        <ion-icon slot="start" name="information-circle-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe o nome da pessoa que trabalha" [(ngModel)]="employee.name"></ion-input>
      </ion-item>

      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Telefone *</ion-label>
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-input type="text" [brmasker]="{phone: true}" placeholder="Informe o telefone da pessoa que trabalha"
          [(ngModel)]="employee.phone"></ion-input>
      </ion-item>

      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Endereço</ion-label>
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe o endereço da pessoa que trabalha"
          [(ngModel)]="employee.address">
        </ion-input>
      </ion-item>

      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe o email da pessoa que trabalha" [(ngModel)]="employee.email">
        </ion-input>
      </ion-item>

    </ion-list>
  </div>


  <div class="ion-text-center container">
    <ion-item-divider>
      <ion-label>Dados profissionais</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Referências</ion-label>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe as referências da pessoa que trabalha" [(ngModel)]="employee.references"></ion-input>
      </ion-item>

      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Restrições</ion-label>
        <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe as restrições da pessoa que trabalha"
          [(ngModel)]="employee.constraints">
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label><h3>Serviço(s) *</h3></ion-label>
        <ion-icon slot="start" name="hammer-outline"></ion-icon>
        <ion-buttons slot="end">
          <ion-button shape="round" color="primary" (click)="setSearchJobModalOpen(true)">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
          <ion-button shape="round" color="primary" (click)="setNewJobModalOpen(true)">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-modal [isOpen]="isSearchJobModalOpen" [backdropDismiss]="false">
          <ng-template>
            <ion-header class="ion-no-border">
              <ion-toolbar color="secondary">
                <ion-title>Serviços</ion-title>
                <ion-buttons slot="end">
                  <ion-button shape="round" (click)="setSearchJobModalOpen(false)">
                    <ion-icon slot="start" name="close"></ion-icon>
                    Fechar
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <app-job-list-item [jobs]="jobs" (select)="onSelectJob($event)"></app-job-list-item>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-modal [isOpen]="isNewJobModalOpen" [backdropDismiss]="false">
          <ng-template>
            <ion-header class="ion-no-border">
              <ion-toolbar color="secondary">
                <ion-title>Novo serviço</ion-title>
                <ion-buttons slot="end">
                  <ion-button shape="round" (click)="setNewJobModalOpen(false)">
                    <ion-icon slot="start" name="close"></ion-icon>
                    Fechar
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <app-job-add-modal (saved)="onJobSaved()"></app-job-add-modal>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>


      <ion-item lines="none" *ngFor="let job of employee.jobs">
        <ion-icon slot="start" name="chevron-forward-outline"></ion-icon>
        <ion-label>
          <h3>{{job.name}}</h3>
        </ion-label>
        <ion-button slot="end" color="primary" fill="clear" (click)="onRemoveJob(job.id)">
          <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>


  <div class="ion-text-center container">
    <ion-item-divider>
      <ion-label>Outras informações</ion-label>
    </ion-item-divider>
    <ion-list>
      <ion-item class="ion-align-items-center ion-padding-bottom" lines="none">
        <ion-label position="stacked">Observações</ion-label>
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-input type="text" placeholder="Informe as observações sobre a pessoa que trabalha" [(ngModel)]="employee.obs">
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>