<ion-list lines="none" class="container">
  <ion-searchbar class="searchbar" #searchbar debounce="700" (ionChange)="search.emit(searchbar.value)"
    placeholder="Buscar por nome ou serviços executados"></ion-searchbar>


  <ion-item-divider>
    <ion-label>{{employees.length}} registro(s) encontrado(s)</ion-label>
  </ion-item-divider>

  <ion-item *ngFor="let employee of employees" button (click)="onSelect(employee)" class="ion-padding-top">
    <ion-label>
      <h2><strong>{{employee.name}}</strong></h2>
      <p>{{employee.jobs | jobs}}</p>
    </ion-label>
    <ion-note slot="end" *ngIf="employee.lastContractAt">
      {{employee.lastContractAt | timeago}} atrás
    </ion-note>
    <ion-badge slot="start" color="light">
      {{employee.level}} ★
    </ion-badge>
  </ion-item>
</ion-list>