<ion-header class="ion-no-border">
  <app-toolbar type="list-page" title="Contratos" (add)="onAdd()"></app-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none" class="container">
    <ion-searchbar class="searchbar" #searchbar debounce="700" (ionChange)="onSearch(searchbar.value)"
    placeholder="Buscar por pessoa que trabalha ou data do contrato"></ion-searchbar>


    <ion-item-divider>
      <ion-label>{{contracts.length}} registro(s) encontrado(s)</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let contract of contracts" 
      button [routerLink]="['/contract/details', contract.id]" 
      class="ion-padding-top">
      <ion-label>
        <h2><strong>{{contract.employee.name}}</strong></h2>
        <p>{{contract.date | date:'dd/MM/yyyy'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>