<ion-header class="ion-no-border">
  <app-toolbar-list title="Contratos" (add)="onAdd()"></app-toolbar-list>
</ion-header>

<ion-content>

  <ion-list lines="none" class="container">
    <ion-item-divider>
      <ion-label>{{contracts.length}} registro(s) encontrado(s)</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let contract of contracts" 
      button [routerLink]="['/contract/details', contract.id]" 
      class="ion-padding-top">
      <ion-label>
        <h2>{{contract.employee.name}} <strong>para</strong> {{contract.employer.name}}</h2>
        <p>{{contract.date | date:'dd/MM/yyyy'}}</p>

      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>